{
  "all": true,
  "include": [
    "controllers/**/*.js",
    "routes/**/*.js",
    "app.js"
  ],
  "exclude": [
    "test/**/*.js"
  ],
  "reporter": ["text", "html"],
  "report-dir": "./coverage"
}